.presentacion {
    /* Estilos para la clase presentacion */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .presentacion_imagen {
    /* Estilos para la clase presentacion_imagen */
    border-radius: 50%;
    width: 6.125rem;
    height: 6.125rem;
  }
  
  .presentacion_texto{
    align-items: center;
    text-align: center;
  }
  .presentacion_titulo {
    /* Estilos para la clase presentacion_titulo */
    color: var(--Preto-100, #464646);
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .presentacion_contenido {
    /* Estilos para la clase presentacion_conetnido */
    color: var(--Preto-100, #464646);
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .lista_redes {
    /* Estilos para la clase lista_redes */
    color: var(--Preto-100, #464646);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0;
  }
  .redes_enlace{
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: center;
  }
  .link_flecha{
    width: 1rem;
    height: 1rem;
    padding-top: 0.1rem;
    
    margin: 0;
    padding: 0;
  }

  .redes_enlace a:after{
    content: url(../img/arrow_link.svg);
  }

@media screen and (min-width:600px){
    .presentacion{
      display: flex;
      justify-content: space-evenly;
      flex-direction: row-reverse;
    }
    .presentacion_imagen {
      width: 11rem;
      height: 11rem;
    }
    .presentacion_texto{
      align-items: end;
      text-align: right;
      margin-right: 2rem;
    }
    .presentacion_titulo {
      text-align: right;
    }
    
    .presentacion_contenido {
      text-align: right;
    }
}
@media screen and (min-width:1024px){
  .presentacion{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
  }
  .presentacion_imagen {
    width: 20rem;
    height: 20rem;
  }
  .presentacion_texto{
    align-items: start;
    text-align: right;
    max-width: 65%;
  }
  .presentacion_titulo {
    text-align: right;
    font-size: 3.3rem;
  }
  
  .presentacion_contenido {
    text-align: right;
    font-size: 1.38rem;
  }
  .lista_redes {
    font-size: 1rem;
  }
}